body {
	margin: 50px 0;
	padding: 0;
	font-family: sans-serif;
	background:{
		image: url('/images/background.jpg');
		size: 300px;
	}
}

button{
	transition: all .25s;
}


$black-panther : rgb(50, 50, 50);
$red-skull : rgb(198,31,31);
$snow-white : rgb(255,255,255);
$green-lantern : rgb(63,122,62);
$blue-demon : rgb(88,102,124);
$almost-white:  rgb(245,245,245);
$jean-grey : rgb(150,150,150);
$orange-mocca-frapuccino :  rgb(206,149,35);
$violet-marv : rgb(168,99,168);

$border-radius : 10px;

.app-title{
	margin:{
		top: 0;
		bottom: 0;
	}
	padding: 15px;
	text:{
		align: center;
		transform: uppercase;
	}
	box-sizing: border-box;
	width: 100%;
	background-color: $black-panther;
	color: $snow-white;
}

.container{
	position: relative;
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	color: $black-panther;
	border-left: 3px solid $black-panther;
	border-right: 3px solid $black-panther;
	border-bottom: 3px solid $black-panther;
	box-sizing: border-box;
	&.main{
		border-top: 10px solid $black-panther;
		
	}
	&-inner{
		padding: 25px;
		background-color: $almost-white;
	}
	&-topbar{
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding: 15px;
		background-color: $black-panther;
		box-sizing: border-box;
		.topbar-user{
			font-weight: 700;
			color: $snow-white;
		}
		.logout-button{
			border: 1px solid $snow-white;
			transition: .25s;
			background-color: transparent;
			color: $snow-white;
			border-radius: $border-radius;
			margin-left: auto;
			padding: 10px;
			&:hover{
				background-color: $blue-demon;
			}
		}
		img{
			display: block;
			width: 50px;
			height: 50px;
			margin-right: 10px;
			border: 3px solid $black-panther;
			border-radius: 50%;
			overflow: hidden;
		}
		>*:last-child{
			margin-left: auto;
		}
		&-user{
			font-weight: 700;
			color: $snow-white;
		}
	}
	& + .container{
		margin-top: 50px;
	}
	&-header{
		margin: 0 0 4px 0;
		padding: 0 0 12px 0;
		border-bottom: 1px solid $snow-white;
		text-align: center;
		text-transform: uppercase;
		color: $black-panther;
		font-size: 1.5rem;
		border-bottom: 2px solid $black-panther;
	}
	ul, ol{
		padding: 0;
		list-style: none;
	}
}

.dashboard-nav{
	display: flex;
	flex-direction: column;
	position: fixed;
	bottom: 80px;
	left: 0;
	width: 250px;
	a + a{
		margin-top: 5px;
	}
	>a{
		font-weight: 700;
		text-decoration: none;
		padding: 15px;
		color: $black-panther;
		border: 2px solid $black-panther;
		border-left: none;
		border-radius: 0 $border-radius $border-radius 0;
		background-color: $almost-white;
		transition: .25s;
		&[aria-current="page"]{
			background-color: $black-panther;
			color: $snow-white;
		}
	}
}
.system-message{
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(200,200,200, .5);
	color: $black-panther;
	font-weight: 700;
	font-size: 3rem;
}
button.row{
	background-color: transparent;
	color: inherit;
	border: 1px solid $black-panther;
	padding: 10px;
	border-radius: $border-radius;
	&:hover,
	&:active,
	&:focus{
		background-color: rgb(215,215,215);
	}
	&:disabled{
		background-color: rgba($jean-grey,.25);
		color: $jean-grey;
		border-color: $jean-grey;
	}

	&.submit{
		width: 100%;
		justify-content: center;
	}

	&.delete{
		flex: none;
		justify-content: center;
		width: 35px;
		background-color: $red-skull;
		color: $snow-white;
		font-weight: 700;
		border: 2px solid darken($red-skull, 10%);
		&:hover{
			background-color: $black-panther;
			border-color: $black-panther;
		}
	}
}

.submit-container{
	display: flex;
	flex: none;
	justify-content: flex-end;
	width: 100%;
}

.wrap-row{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	>*{
		margin: 5px;
		flex: 1;
	}
	&-name{
		flex: none;
	}
	& + .wrap-row{
		margin-top: 20px;
	}
}

.row{
	display: flex;
	align-items: center;
	&.with-image{
		$color-list: $red-skull, $green-lantern, $blue-demon;
		border-width: 3px;
		@for $i from 1 through length($color-list){
			&:nth-child(#{$i}){
				$current-color: nth($color-list, $i);
				border-color: $current-color;
				img{
					border-color: $current-color;
				}
			}
		}
		img{
			flex: none;
			width: 40px;
			height: 40px;
			margin-right: 5px;
			border-radius: 50%;
			border: 3px solid transparent;
			overflow: hidden;
		}
	}
	.name{
		flex: 1;
		font-weight: 700;
		font-size: 1rem;
	}
	&.active, &.inactive{
		justify-content: center;
		border-radius: $border-radius;
		padding: 10px;
		font:{
			weight: 700;
		}
		color: $snow-white;
	}
	&.active{
		border: 2px solid darken($violet-marv, 10%);
		background-color: $violet-marv;
	}
	&.inactive{
		border:2px solid darken($orange-mocca-frapuccino, 10%);
		background-color: $orange-mocca-frapuccino;
		opacity: .25;
	}
}

.chart{
	position: relative;
	flex: none;
	height: 25px;
	box-sizing: border-box;
	font:{
		weight: 700;
	}

	&:before{
		content: "";
		display: block;
		position: absolute;
		top: calc(100% + 5px);
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		border-bottom-width: 6px;
		border-bottom-style: solid;
	}

	&-box + &-box{
		margin-top: 20px;
	}
	color: $snow-white;
	&-name{
		font-weight: 700;
		margin-bottom: 5px;
		width: 100px;
	}
	&-container{
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		margin-left: auto;
		margin-bottom: 5px;
	}
	&-description{
		display: flex;
		justify-content: space-between;
		.label{
			flex: none;
			width: calc(50% - 15px);
			font-weight: 400;
			margin-top: 5px;
			padding-top: 5px;
			padding-bottom: 5px;
			text-align: center;
			box-sizing: border-box;
			&.one{
				margin-left: 5px;
				padding-left: 5px;
				text-align: left;
				border-bottom: 2px solid $orange-mocca-frapuccino;
				border-left: 2px solid $orange-mocca-frapuccino;
				color: $orange-mocca-frapuccino;
			}
			&.two{
				margin-right: 5px;
				padding-right: 5px;
				text-align: right;
				border-bottom: 2px solid $violet-marv;
				border-right: 2px solid $violet-marv;
				color: $violet-marv;
			}
		}
	}
	&.one{
		background-color: $orange-mocca-frapuccino;
		color: $orange-mocca-frapuccino;
		&:before{
			left: 0;
		}
	}
	&.two{
		background-color: $violet-marv;
		color: $violet-marv;
		&:before{
			right: 0;
		}
	}
}

.option-container{
	& + .option-container{
		margin-left: 15px;
	}
	textarea{
		width: 100%;
		min-height: 50px;
	}
}

.question-details{
	flex: none;
	width: 100%;
	padding-right: 10px;
	color: $black-panther;
	font:{
		size: .85rem;
		weight: 700;
		style: italic;
	}
	text-align: right;
	box-sizing: border-box;
}

.user-details{
	.time{
		font-weight: 700;
	}
	& + .user-details{
		margin-top: 25px;
	}
	.description{
	}
}

span.text{
	color: $violet-marv;
	font-weight: 700;
	&.chosen{
		color: $orange-mocca-frapuccino;
	}
}